.chart-container {
  position: relative;
}

.tooltip {
  position: absolute;
  padding: 8px;
  background: rgba(0,0,0,0.6);
  border-radius: 4px;
  color: #fff;
  opacity: 0;
}

.label {
  font-size: 12px;
  fill: black;
  text-anchor: middle;
}
