#pieChart svg {
  width: 100%;
  height: auto;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px solid #000;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
