.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;  /* Membuat kolom tunggal */
  gap: 20px;  /* Jarak antara card */
  width: 100%;
  max-width: 1200px;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
}

app-pie-chart, app-line-chart, app-vehicle-bar-chart {
  display: block;
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.toggle-button:focus {
  outline: none;
}

.chart-container {
  max-height: 550px; /* Atur tinggi maksimum awal */
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}
