<main class="main">
  <div class="content">
    <div class="card">
      <div class="card-header">
        <h2>Perbandingan Jenis Kendaraan</h2>
        <button class="toggle-button" (click)="toggleChart('pieChart')">Expand/Collapse</button>
      </div>
      <div class="chart-container" id="pieChartContainer">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>Jumlah Kendaraan Berdasasrkan Jenis Kendaraan</h2>
        <button class="toggle-button" (click)="toggleChart('vehicleBarChart')">Expand/Collapse</button>
      </div>
      <div class="chart-container" id="vehicleBarChartContainer">
        <app-vehicle-bar-chart></app-vehicle-bar-chart>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>Jumlah Kendaraan Per Tahun</h2>
        <button class="toggle-button" (click)="toggleChart('lineChart')">Expand/Collapse</button>
      </div>
      <div class="chart-container" id="lineChartContainer">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </div>
</main>


<router-outlet />
