.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  font-family: 'Arial', sans-serif;
  font-size: 10px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}